<div class="smallme position-relative mt-2">
  <select class="form-select form-select-sm" aria-label=".form-select-sm example" onchange="if (this.value) window.location.href=this.value">
    <option selected>Select a tracker</option>
    <option value="1">Food</option>
    <option value="2">Finances</option>
    <option value="3">Mood</option>
    <option value="4">Habits</option>
  </select>
</div>