
<div class='container mt-3'><%= link_to 'New Mood Entry', mood_new_path %>
</div>

<div class='container mt-3'><%= link_to 'New Food Entry', food_new_path %>
</div>

<div class='container mt-3'><%= link_to 'New Habits Entry', habits_new_path %>
</div>